@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Shippori+Mincho&display=swap');



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 10px;
  font-family: "Shippori Mincho"
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    grid-gap: 9em;
    align-items: center;
}

.container img {
  opacity: 1; /* Initial opacity */
  transition: opacity 0.3s ease-in-out; /* Add smooth transition */
}

.container {
  background: pink;
}

.container:hover img {
  opacity: 0.5; /* Set desired opacity on hover */
  filter:hue-rotate(330deg);
}


img {
  display: block;
  width: 100%;

}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: pink;
}

.inicio {
  /*padding:2px;*/
}

.titulo {
  font-size: 20px;
  float: left;
}

.tituloObra {
  padding-top: 20px;
}

.info {
  font-size: 17px;
  font-family: "Padauk"
}

.espacio {
}

/*MENU*/

a {
  text-decoration: none;
  color: #000;
}
.active {
  color: #679b9b;
}
a:hover {
  color: #679b9b;
}
h1 {
  font-size: 20px;
}
header {
  padding: 0;
}
/*body{
  background-color: #f1d1d1;
  font-size: 23px;
}
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #f1d1d1;
}

body::-webkit-scrollbar-thumb {
    background: #f4f5f6;
}
*/

/* Start of Header Styling*/
.header {
  /*background-color: #f1d1d1;*/
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
}

.header .logo {
  display: block;
  float: left;
  padding: 5px 30px;
}

/* menu */

.nav {
  z-index: 99;
  height: 130px;
  width: 100%;
  background-color: white;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav > .nav-links > a:hover {
  /*background-color: pink;*/
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .pink {
  background: pink !important;
}
  
  .obrasContent p {
    padding: 10px;
    font-size: 14px;
    margin-right: 0%!important;
  }
  
  .obrasContent img {
  width: 100% !important;
}

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: pink;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: pink;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    padding: 40px;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.pink {
  background: white;
}

/* OBRAS */

.tituloObra {
  font-size: 5em;
  font-family: "Padauk"
}

.obrasContent {
  padding: 20px;
  overflow: hidden;
  float: center;
  margin: 10px;
  text-align: justify;
}

.obrasContent p {
  padding: 10px;
  margin-right: 20%;
}

.obrasContent img {
  width: 70%;
}

.obrasContent video {
  width: 100%;
}

.image-description {
  font-size: 0.9em;
  padding: 10px;
  text-align: left;
}

.image-description-view {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
} 

#subir {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: pink;
}

.cv {
  margin: 30px;
  list-style-type: square;
}

#hoja {
  width:40px;
}

.content {
  margin-top: 100px;
}
